<!DOCTYPE html>
	<html>
		<head>
		<title> Finance Calculator v1.0 </title>
		<script src = 'http://code.jquery.com/jquery-latest.js'></script>

		</head>

		<body>
			<h1><font color = "pink">  #이사님 결과입니다#  </font></h1>
			<h3> 총매출 : <%=total_sum%> 원</h3><br>
			<h3> 총비용 : <%=total_expense%> 원</h3><br>
			<h3> 해외총매출 : <%=foreign_sum%> 원</h3><br>
			<h3> 해외총비용 : <%=foreign_expense%> 원</h3><br>
			<h3> 예상부가세 : <%=expectation_vat%> 원</h3><br>

		</body>
		<br><br>
		<footer>
		<h5> copyright@sungjune.park@isharingsoft.com </h5>
		</footer>
	</html>